// COLORS
$clr-light: #ececec;
$clr-light-t2: #d5d5d5af;
$clr-lighter: #FFFFFF;
$clr-dark: #090909;
$clr-dark-t: #0909097a;
$clr-darker: #030303;
$clr-darker-t: #0303037a;

// SIZES
$size-xxxl: clamp(9rem, 13.3vw, 10rem);
$size-l: clamp(3rem, 4.9vw, 4rem);
$size-ml: clamp(1.5rem, 2.3vw, 1.8rem);
$size-m: clamp(1rem, 1.48vw, 1.13rem);
$size-s: clamp(0.75rem, 1.12vw, 0.80rem);
$size-xs: clamp(0.7rem, 1.05vw, 0.75rem);